@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Thin.ttf");
    font-weight: 200;
}
* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background: #829985;
  }
  html {
    scroll-behavior: smooth; 
  }
  
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    list-style: none;
}
  
  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
  }
  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
  }
  .link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: #5d7260;
  }
  .section-item {
    position: relative;
    padding-left: 30px;
  }
  
  .section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px; 
    border: 1px solid #829985;
    border-radius: 50%;
  }
  * {
    box-sizing: border-box;
  }
  .footer {
    flex-shrink: 0;
    background: #829985;
  }
