@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Thin.ttf");
    font-weight: 200;
}
* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }